*.jar
*.class
*.ipynb

# avoid deployment scripts - don't want them to bust the build cache
kube/
deploy-boogie-rest.sh
boogie-rest-deployment.yaml
Dockerfile
docker-compose.yml
.ipynb_checkpoints/

build/
*.secret
*.gitignore
*.md
config/
bin/
gradle/