*.jar
*.class
*.ipynb
*.avro
*.txt
*.gz
*.dat
*.iml
*.secret
*.gitignore
*.md

.git
.gradle
.ipynb_checkpoints

config/
deploy/ci/
bin/
gradle/wrapper/
bamboo-specs/
gradlew*
sonar*
*/Dockerfile
*/src/test/resources/*
*/build/*
*/target/*
*/out/*

Dockerfile
docker-compose.yml