target/
.DS*
.idea/
*.iml
/bin/
.settings/
.classpath
.project
test-output/
.launch/
.launch
.pydevproject
bin/
*.jar
.project
*.crc
.clover/
dependency-reduced-pom.xml
.nrepl-port
.gorilla-port
*.pyc
.editorconfig
archetype.properties
goal.txt
_SUCCESS
logs
*/docker/dist
 ### Gradle ###
.gradle
**/build/
 # Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle/wrapper/gradle-wrapper.jar
