target/
.DS*
.idea/
*.iml
/bin/
.settings/
.classpath
.project
test-output/
.launch/
.launch
.pydevproject
bin/
MAP
REDUCE
COMBINE
*.jar
.project
node_modules
Play*
play*
*.crc
.clover/
dependency-reduced-pom.xml
.nrepl-port
.gorilla-port
*.pyc
sandbox-files
.editorconfig
archetype.properties
goal.txt
_SUCCESS
*LocalRunner.java*
*MikeLocalRunner.java*
